body{
    font-family: 'Roboto Condensed', sans-serif;
}

.main-title-text{
    font-size: 600%;
    transition: .3s;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-title-text:hover{
    color: #DA3560;
}

.title-text{
    font-size: 3rem;
}

.bg-color-1{
    color: #F8F9FA;
}

.highlighter{
    background-image: linear-gradient(90deg,rgba(255,255,255,0) 50%,var(--text-highlight-color,#da356149) 0);
    background-size: 200%;
    transition: background-position 2s;
}

.highlighter.highlighted{
    background-position: -100%;
    background-color: transparent;
}

/* .highlighter-title{
    background-color: #da35615b;
    animation: glow .7s ease-in-out infinite alternate;
}

@-webkit-keyframes glow{

    from {
    text-shadow: 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 30px #ff1389, 0 0 40px #ff1b8d, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 700px #fd1589, 0 0 200px #fa248f;
  }
} */
